html,
body
  padding 0
  margin 0
  font-family 'Roboto Mono'

.content
  display flex
  align-items center
  justify-content center
  background-color #FCFCFC
  height 90vh

.lead
  color #29323E
  text-align center

.alpha
  font-size 52px
  margin 0

.beta
  text-align right

.link
  display inline-block
  margin-left 20px
  text-decoration none
  color #29323E

  &:first-child
    margin-left 0

.social
  display flex
  align-items center
  justify-content center
  height 10vh